@"
############################################
# STM32CubeIDE / Eclipse
############################################
.metadata/
.settings/
.project
.cproject
*.launch

############################################
# Build folders
############################################
Debug/
Release/
*/Debug/
*/Release/

############################################
# Build artifacts
############################################
*.o
*.a
*.d
*.su
*.elf
*.map
*.list
*.hex
*.bin

############################################
# CubeMX
############################################
*.ioc.bak
*.mxproject

############################################
# OS junk
############################################
.DS_Store
Thumbs.db
"@ | Out-File -Encoding utf8 .gitignore
